
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  overflow: hidden;
  margin: auto;
  padding: 15px 0px 0px 10px;
  background-color: #ab0202;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
}

/* Style the header login link */
header a {
  float: right;
  color: inherit;
  text-align: center;
  text-decoration: underline;
  margin: auto;
  padding-bottom: 10px;
  padding-right: 10px;
  font-size: 15px;
}

/* Style the main navigation bar */
nav {
  overflow: hidden;
  background-color: #333333;
}

/* Style the main navigation bar links */
nav a {
  float: right;
  display: block;
  color: #ffffff;
  text-align: center;
  margin: auto;
  padding: 15px;
  font-size: 15px;
  text-decoration: underline;
}

/* Style the big pic */
#denver_art_pic {
  object-fit: contain;
  float: left;
  height: auto;
  width: 66%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
}

/* Style the content */
article {
  background-color: #ffffff;
  float: left;
  height: auto;
  width: 66%;
  font-size: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
}

/* Style the content header */
article h2 {
  font-size: 20px;
  font-weight: bold;
}

/* Style the sidebar */
aside {
  object-fit: contain;
  border-style: dotted;
  border-width: thick;
  float: right;
  height: auto;
  width: 24%;
}

#aside-pic {
  object-fit: contain;
  border-style: dotted;
  border-width: thick;
  float: right;
  height: auto;
  width: 24%;
}

/* Style the footer */
footer {
  overflow: hidden;
  margin: auto;
  padding: 15px;
  background-color: #333333;
  color: #ffffff;
  float: right;
}
